.header {
  grid-column     : 2;
  background-color: #FDF1EB;
  padding         : 17px 30px 4px 36px;
}

.header-flex {
  display                 : flex;
  justify-content         : space-between;
  flex-wrap               : wrap;
  align-items             : center;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  font-size  : 1.375em;
  font-weight: 400;
  line-height: 26px;
  color      : #725C5C;
}

.header p {
  font-family: 'Roboto', sans-serif;
  font-size  : .875em;
  font-weight: 400;
  line-height: 16px;
  color      : #725C5C;
  ;
}

.header span {
  font-family: 'Roboto', sans-serif;
  font-size  : .875em;
  font-weight: 400;
  line-height: 16px;
  color      : #725C5C;
}

.btn-idioma {
  background   : #FDF1EB;
  font-family  : 'Quicksand', sans-serif;
  font-size    : .875em;
  font-weight  : 400;
  line-height  : 18px;
  width        : 100px;
  height       : 40px;
  padding      : 8px 24px 8px 30px;
  border       : 1px solid #ccc;
  border-radius: 4px;
  position     : relative;
  justify-self : end;
}

.btn-idioma:hover {
  border: 1px solid #333;
}

.btn-idioma::before {
  content         : '';
  background-image: url('../img/header/icone-linguagem.svg');
  display         : block;
  background-size : 20px;
  height          : 20px;
  width           : 20px;
  position        : absolute;
  left            : 5px;
  top             : 8px;
}

.btn-idioma::after {
  content         : '';
  background-image: url('../img/header/icone-dropdown.svg');
  display         : block;
  background-size : 10px;
  width           : 10px;
  height          : 6px;
  position        : absolute;
  right           : 10px;
  top             : 15px;
}

.perfil {
  display        : flex;
  align-items    : center;
  justify-content: right;
}

.perfil p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size  : .875em;
  line-height: 18px;
  text-align : right;
  color      : #333;
}

.perfil p+p {
  font-size  : 0.75em;
  line-height: 15px;
  cursor     : pointer;
}

.foto-perfil {
  padding-left: 5px;
}

.foto-perfil img {
  width        : 45px;
  min-width    : 45px;
  height       : 43px;
  border-radius: 50%;
  border       : 1px solid #f5f5f5;
  cursor       : pointer;
}

.foto-perfil img:hover {
  border: 1px solid #333;
}

.foto-perfil::before {
  content         : '';
  background-image: url('../img/header/icone-notificacao.svg');
  display         : block;
  background-size : 18px;
  width           : 18px;
  height          : 18px;
  position        : absolute;
  right           : 25px;
  top             : 25px;
  cursor          : pointer;
}

@media(max-width: 1265px) {
  .header-flex {
    flex-direction: column;
    align-items   : flex-start;
    gap           : 10px;
  }

  .foto-perfil {
    order        : 0;
    padding-right: 10px;
  }

  .foto-perfil::before {
    position: absolute;
    left    : 260px;
    top     : 133px;
  }

  .login {
    order: 1;
  }

  .login p {
    text-align: left;
  }
}

@media(max-width: 945px) {
  .foto-perfil::before {
    position: absolute;
    left    : 260px;
    top     : 160px;
  }
}