body,
h1,
h2,
ul,
li,
p,
span {
  margin : 0px;
  padding: 0px;
}

img {
  display  : block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.grid-container {
  display              : grid;
  grid-template-columns: 220px 1fr;
}